body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Handlee', cursive;
}

#bigDiv{
    margin: 115px auto;
    width: 500px;
    height: 350px;
    background-color: white;
    padding: 20px;
}

h1{
    display: inline-block;
}

p{
    font-size: 1.1em;
    font-weight: normal;
}

.boxes{
    width: 48%;
    float: left;
    margin: 0px 5px;
}

#imgBox{
    width: 100%;
    /*text-align: right;
    margin-right: */
}


#logo{
    width: 70px;
    margin-right: 15px;
    float: right;
}

.informationInputs{
    width: 100%;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid gray;
    height: 34px;
    font-size: 20px;
    padding: 3px;
}

#buttonDiv{
    width: 500px;
    text-align: center;
    overflow: hidden;
}

#send{
    font-family: 'Handlee';
    font-size: 1.1em;
    height: 30px;
    width: 155px;
    border-right: 0.5px #5A5A5A;
    
}